/* COLOR PALETTE
#9FE2BF
#009E60
#00FF7F
#088F8F
#454B1B
#50C878
*/

.center-text {
    text-align: center;
}

.no-border {
    border: none;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    background-color: #a5e6e5;
}

header {
    background-color: #9fe2bf;
    height: 90px;
}

h1, h3 {
    text-align: center;
}

hr {
    border: none;
    height: 50px;
}

.navbar-brand {
    font-size: x-large;
    margin-top: 10px;
    padding-left: 20px;
}

.navbar-nav {
    font-size: large;
    margin-left: auto;
    margin-right: 0;
    margin-top: 10px;
}

.navbar form {
    margin-left: 20px;
}

.dropdown-toggle {
    margin-right: 20px;
}

.d-flex {
    margin-top: 12px;
}

.card {
    width: 10rem;
    margin: 20px auto;
}

.card button {
    border: none;
    background-color: transparent;
}

.card button:hover {
    transform: translate(0, -20px);
}

.card-title {
    text-align: center;
}

.card-text {
    color: black;
}

.disc-row .card {
    width: 15%;
    height: auto;
}

@media (max-width: 1000px) and (min-width: 720px) {
    .disc-row .card {
        width: 25%;
        height: auto;
    }
}

@media (max-width: 720px) {
    .disc-row .card {
        width: 50%;
        height: auto;
    }
}

.disc-row .card-text {
    text-align: center;
    font-style: italic;
}

.section {
    padding: 50px 0;
}

@media (min-width: 1000px) {
    .section {
        margin: 0 150px;
    }
}

.white-background {
    background-color: white;
    color: black;
}

.color-background {
    background-color: #009e60;
    color: white;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 100px;
}

#search-by-flight {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 100px;
}

#search-by-flight-form {
    padding-right: 50px;
    padding-top: 50px;
    margin-top: 40px;
}

#search-by-flight-form h1 {
    padding-bottom: 25px;
}

#search-by-flight-form .row {
    padding: 30px 0;
}

#search-by-flight-form label {
    border: none;
    color: black;
}

.search-by-flight-results {
    padding-top: 50px;
}

#team-profiles {
    padding-left: 3rem;
    padding-right: 3rem;
}

#team-profiles h1 {
    padding-bottom: 75px;
    padding-top: 20px;
}

#team-profiles .card {
    width: 15%;
    max-width: 600px;
    height: auto;
    padding-top: 10px;
}

@media (max-width: 1600px) and (min-width: 1200px) {
    #team-profiles .card {
        width: 18%;
        height: auto;
    }
}

@media (max-width: 1200px) and (min-width: 1000px) {
    #team-profiles .card {
        width: 23%;
        height: auto;
    }
}

@media (max-width: 1000px) and (min-width: 720px) {
    #team-profiles .card {
        width: 30%;
        height: auto;
    }
}

@media (max-width: 720px) and (min-width: 500px) {
    #team-profiles .card {
        width: 45%;
        height: auto;
    }
}

@media (max-width: 500px) {
    #team-profiles .card {
        width: 100%;
        height: auto;
    }
}

#search-heading h3, #search-heading h1 {
    padding-top: 20px;
}

.flight-numbers {
    border: 1px solid black;
    background-color: #9FE2BF;
}

.container .flight-numbers:first-of-type {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.container .flight-numbers:last-of-type {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.card-body .container {
    padding-top: 20px;
    padding-bottom: 22px;
}

.disc-row {
    margin: 50px 7%;
}

.range {
    padding-top: 60px;
    padding-bottom: 60px;
}

#btn-col {
    margin-top: 30px;
}

.item-header {
    max-width: 1200px;
    margin: auto;
}

@media (min-width: 1000px) {
    .item-header {
        display: grid;
        grid-template-columns: 50% 50%;
        padding-bottom: 40px;
        padding-top: 20px;
    }

    .description {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 0;
        margin-right: 10%;
    }

    .thumbnail .dropdowns {
        margin-top: 60px;
    }
}

@media (max-width: 999px) {
    .item-header {
        padding-bottom: 40px;
        padding-top: 20px;
    }

    .description {
        margin: 50px auto;
        width: 80%;
    }

    .thumbnail .dropdowns {
        margin-top: 30px;
    }
}

.thumbnail {
    margin-top: 50px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.thumbnail img {
    width: 69%;
    height: auto;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

.thumbnail select {
    width: 50%;
    margin: 25px auto;
}

.thumbnail .container {
    width: 50%;
}

.thumbnail .flight-numbers {
    padding: auto;
}

.description h2 {
    margin-bottom: 10px;
    text-align: center;
}

.description h4 {
    margin-bottom: 20px;
    text-align: center;
}

.description h6 {
    margin-bottom: 30px;
    text-align: center;
}

.item-table {
    margin: auto;
}

.item-table td {
    border: 2px solid black;
}

.item-table img {
    width: 150px;
    height: auto;
}

.login-form {
    width: 300px;
    text-align: center;
    margin: auto;
    padding: 50px 0;
}

.login-form .form-group {
    padding: 20px 0;
}

.footer-info {
    text-align: center;
}

footer {
    background-color: #9fe2bf;
    padding-top: 40px;
}

footer .nav-item {
    padding: 25px 10px;
}

footer .nav-link:hover {
    text-decoration: underline;
}