/* COLOR PALETTE
#9FE2BF
#009E60
#00FF7F
#088F8F
#454B1B
#50C878
*/

.center-text {
    text-align: center;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    background-color: #a5e6e5;
}

header {
    background-color: #9fe2bf;
    height: 90px;
}

h1, h3 {
    text-align: center;
}

hr {
    border: none;
    height: 50px;
}

.navbar-brand {
    font-size: x-large;
    margin-top: 10px;
    padding-left: 20px;
}

.navbar-nav {
    font-size: large;
    margin-left: auto;
    margin-right: 25px;
    margin-top: 10px;
}

.dropdown-toggle {
    margin-right: 20px;
}

.d-flex {
    margin-top: 12px;
}

.section {
    margin: 0 150px;
    padding: 50px 0;
}

.white-background {
    background-color: white;
    color: black;
}

.color-background {
    background-color: #009e60;
    color: white;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 100px;
}

#search-by-flight {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 100px;
}

#search-by-flight-form {
    padding-right: 50px;
    padding-top: 50px;
    margin-top: 40px;
}

#search-by-flight-form h1 {
    padding-bottom: 25px;
}

#search-by-flight-form .row {
    padding: 30px 0;
}

.search-by-flight-results {
    padding-top: 50px;
}

#team-profiles h1 {
    padding-bottom: 75px;
    padding-top: 20px;
}

#team-profiles .card {
    padding-top: 10px;
}

#search-heading h3, #search-heading h1 {
    padding-top: 20px;
}

.card {
    border: none;
    margin: 20px auto;
}

.card button {
    border: none;
    background-color: transparent;
}

.card button:hover {
    transform: translate(0, -20px);
}

.card-title {
    text-align: center;
}

.card-text {
    color: black;
}

.disc-row .card-text {
    text-align: center;
    font-style: italic;
}

.flight-numbers {
    border: 1px solid black;
    background-color: #9FE2BF;
}

.container .flight-numbers:first-of-type {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.container .flight-numbers:last-of-type {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.card-body .container {
    padding-top: 20px;
    padding-bottom: 22px;
}

.disc-row {
    margin: 50px 7%;
}

.range {
    padding-top: 60px;
    padding-bottom: 60px;
}

#btn-col {
    margin-top: 100px;
}

.item-header {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 40px;
    padding-top: 20px;
}

.thumbnail {
    margin-top: 50px;
    margin-bottom: 0;
    margin-left: 300px;
    margin-right: 0;
}

.thumbnail img {
    width: 500px;
    height: auto;
    display: block;
    margin: auto;
    margin-bottom: 60px;
}

.thumbnail select {
    width: 50%;
    margin: 25px auto;
}

.thumbnail .dropdowns {
    margin-top: 60px;
}

.thumbnail .container {
    width: 50%;
}

.thumbnail .row {
    height: 50px;
}

.thumbnail .flight-numbers {
    padding: auto;
}

.description {
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 400px;
}

.description h1{
    margin-bottom: 20px;
}

.description h3 {
    margin-bottom: 50px;
}

.item-table {
    margin: 0 500px;
    padding: 100px;
}

.item-table td {
    border: 2px solid black;
}

.item-table img {
    width: 200px;
    height: auto;
}

.footer-info {
    text-align: center;
}

footer {
    background-color: #9fe2bf;
    padding-top: 40px;
}

footer .nav-item {
    padding: 25px 10px;
}

footer .nav-link:hover {
    text-decoration: underline;
}