.center-text {
    text-align: center;
}

.no-border {
    border: none;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

header {
    font-family: 'Montserrat';
}

body {
    background-color: #374045;
    font-family: 'Varta';
}

.navbar {
    padding: 20px auto;
}

h1, h3 {
    text-align: center;
}

hr {
    border: none;
    height: 50px;
}

.navbar-brand {
    font-size: x-large;
    font-weight: bold;
    padding-left: 20px;
}

.navbar-nav {
    font-size: medium;
    margin: auto;
}

#search-icon {
    margin-left: -20px;
}

#cart-icon {
    margin-right: 25px;
    margin-left: 10px;
}

#mobile-cart-icon {
    width: 64px;
    height: 64px;
    padding-top: 16px;
    text-align: center;
    position: fixed;
    bottom: 20px;
    left: 10px;
    background-color: black;
    border-radius: 50%;
}

#mobile-cart-icon a {
    width: 50%;
    height: auto;
}

.dropdown-toggle {
    margin: 0 10px;
}

.dropdown-toggle::after {
    content: none;
}

@media (min-width: 1200px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }

    #mobile-cart-icon {
        display: none;
    }
}

@media (max-width: 1199px) {
    .navbar-nav .nav-item {
        margin: auto;
        text-align: center;
    }

    .dropdown-menu {
        margin: auto;
        text-align: center;
    }

    .collapse form {
        width: 100%;
        max-width: 300px;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    #cart-icon, #search-icon, .col-auto {
        display: none;
    }

    #mobile-cart-icon {
        display: block;
    }
}

.card-body .container {
    padding-bottom: 30px;
}

.card-title {
    padding: 10px 0;
}

.disc-row {
    margin: 50px 5%;
}

.hover button:hover {
    transform: translate(0, -20px);
}

.hover button:hover .card-title {
    opacity: 1;
    transition: opacity 0.5s;
}

.hover button:hover img {
    opacity: 0.6;
    transition: opacity 0.8s;
}

.card button {
    border: none;
    background-color: transparent;
    transition: transform 0.5s;
}

.hover .card-title {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 12px black, -2px 2px 12px black, 2px -2px 12px black, -2px -2px 12px black;
}

.disc-row .card {
    position: relative;
    text-align: center;
    width: 16.5%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
}

@media (max-width: 1200px) and (min-width: 850px) {
    .disc-row .card {
        width: 25%;
        height: auto;
    }
}

@media (max-width: 850px) and (min-width: 550px) {
    .disc-row .card {
        width: 33.3%;
        height: auto;
    }
}

@media (max-width: 550px) {
    .disc-row .card {
        width: 50%;
        height: auto;
    }
}

.section {
    padding-bottom: 50px;
    padding-top: 80px;
}

.section h1 {
    font-weight: bold;
}

.white-background {
    background-color: #ffffff;
    color: black;
}

.color-background {
    background-color: #d89216;
    color: white;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 100px;
}

#search-by-flight {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 100px;
    padding-right: 100px;
}

#search-by-flight-form {
    width: 200%;
    padding-right: 100px;
    padding-top: 50px;
    margin-top: 40px;
    z-index: 2;
    transition: width 1s;
}

#search-by-flight-form h1 {
    padding-bottom: 25px;
}

#search-by-flight-form h4 {
    color: white;
}

#search-by-flight-form .row {
    padding: 52px 0;
}

#search-by-flight-form label {
    border: none;
    color: black;
}

#sbfr-background {
    display: none;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding-top: 10px;
}

.search-by-flight-results {
    padding-top: 20px;
}

.search-by-flight-results .card {
    color: black;
    width: 30%;
    height: auto;
}

#team-profiles {
    padding-left: 3rem;
    padding-right: 3rem;
}

#team-profiles h1 {
    padding-bottom: 75px;
    padding-top: 20px;
}

#team-profiles .card {
    width: 15%;
    max-width: 600px;
    height: auto;
    padding-top: 10px;
}

@media (max-width: 1600px) and (min-width: 1200px) {
    #team-profiles .card {
        width: 18%;
        height: auto;
    }
}

@media (max-width: 1200px) and (min-width: 1000px) {
    #team-profiles .card {
        width: 23%;
        height: auto;
    }
}

@media (max-width: 1000px) and (min-width: 720px) {
    #team-profiles .card {
        width: 30%;
        height: auto;
    }
}

@media (max-width: 720px) and (min-width: 500px) {
    #team-profiles .card {
        width: 45%;
        height: auto;
    }
}

@media (max-width: 500px) {
    #team-profiles .card {
        width: 100%;
        height: auto;
    }
}

#featured-apparel img, #featured-accessories img {
    width: 300px;
    height: 300px;
}

#featured-apparel button, #featured-accessories button {
    
}

#search-heading h3, #search-heading h1 {
    padding-top: 55px;
    margin-bottom: -30px;
}

#out-of-stock-img {
    display: block;
    max-width: 100%;
    padding-top: 40px;
    margin: auto;
}

.flight-numbers {
    border: 1px solid black;
    background-color: #e1d89f;
}

.container .flight-numbers:first-of-type {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.container .flight-numbers:last-of-type {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.range {
    padding-top: 60px;
    padding-bottom: 60px;
}

#btn-col {
    margin-top: 30px;
}

.item-header-background {
    width: 100%;
    margin: auto;
    margin-top: 50px;
    padding: 100px 0;
    background-color: #d89216;
}

.item-header {
    max-width: 1100px;
    margin: auto;
}

@media (min-width: 1101px) {
    .item-header {
        border-radius: 20px;
    }

    hr {
        display: none;
    }
}

@media (max-width: 1100px) {
    .item-header {
        border-radius: none;
    }

    .item-header-background {
        width: 100%;
        padding: 0;
        background-color: white;
    }
}

.thumbnail {
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.thumbnail img {
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

.thumbnail select {
    width: 50%;
    margin: 25px auto;
}

.thumbnail .container {
    width: 50%;
}

.thumbnail .flight-numbers {
    padding: auto;
}

.description h2, .description h5 {
    text-align: center;
    font-family: 'Montserrat';
}

.description h2 {
    font-weight: bold;
    margin-bottom: 10px;
}

.description p {
    margin-top: 30px;
}

@media (min-width: 1000px) {
    .item-header {
        display: grid;
        grid-template-columns: 50% 50%;
        padding-bottom: 40px;
        padding-top: 20px;
    }

    .description {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 0;
        margin-right: 10%;
    }

    .thumbnail .dropdowns {
        margin-top: 60px;
    }
}

@media (max-width: 999px) {
    .item-header {
        padding-bottom: 40px;
        padding-top: 20px;
    }

    .description {
        margin: 50px auto;
        width: 80%;
    }

    .thumbnail .dropdowns {
        margin-top: 30px;
    }
}

#item-list {
    padding-top: 10px;
}

#item-list .card {
    width: 250px;
    margin: 20px auto;
}

footer {
    color: white;
    background-color: #d89216;
    padding-top: 40px;
}

.social-icons {
    text-align: center;
    margin-bottom: 30px;
}

.social-icons a {
    margin: auto 20px;
    text-decoration: none;
    outline: none;
}

.footer-info {
    margin-top: 50px;
    text-align: center;
}

footer .nav-item {
    padding: 25px 10px;
}

footer .nav-link:hover {
    text-decoration: underline;
}