{% extends "layout.html" %}

{% block title %}
	Home
{% endblock %}

{% block main %}
	<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="../static/images/banners/banner1.png" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="../static/images/banners/banner2.png" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="../static/images/banners/banner3.png" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="../static/images/banners/banner4.png" class="d-block w-100" alt="...">
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-primary text-center" role="alert"><h2>{{ message }}</h2></div>
			{% endfor %}
		{% endif %}
	{% endwith %}

	<div class="section white-background" id="new-releases">
		<h1>New Releases</h1>
		<section class="disc-row">
			<div class="row">
				{% for disc in new_releases %}
					<div class="card no-border hover">
						<form action="/item" method="get">
							<input name="item" type="hidden" value="{{ disc['mold'] }}">
							<button type="submit">
								{% if disc['image'] is not none %}
									<img src="{{ disc['image'] }}" class="card-img-top" alt="...">
								{% else %}
									<img src="../static/images/discs/disc-placeholder.jpg" class="card-img-top" alt="...">
								{% endif %}
								{% if disc['run'] == 'Stock' %}
									<p class="card-title">{{ disc["plastic"] }} {{ disc["mold"] }}</p>
								{% else %}
									<p class="card-title">{{ disc["run"] }} {{ disc["plastic"] }} {{ disc["mold"] }}</p>
								{% endif %}
							</button>
						</form>
					</div>
				{% endfor %}
			</div>
		</section>
	</div>

	<div class="section color-background" id="search-by-flight">
		<form action="/search" id="search-by-flight-form" method="POST">
			<h1>Search By Flight</h1>
			<div class="row">
				<label for="speed" class="form-label"><h4>Speed: <output id="speed-output">Any</output></h4></label>
				<input type="range" class="form-range" min="0" max="14" value="0" name="speed" id="speed" oninput="updateSpeed()" onmouseup="updateSearch()">
			</div>
			<div class="row">
				<label for="glide" class="form-label"><h4>Glide: <output id="glide-output">Any</output></h4></label>
				<input type="range" class="form-range" min="0" max="8" value="0" name="glide" id="glide" oninput="updateGlide()" onmouseup="updateSearch()">
			</div>
			<div class="row">
				<label for="turn" class="form-label"><h4>Turn: <output id="turn-output">Any</output> </h4></label>
				<input type="range" class="form-range" min="-6" max="2" value="-6" name="turn" id="turn" oninput="updateTurn()" onmouseup="updateSearch()">
			</div>
			<div class="row">
				<label for="fade" class="form-label"><h4>Fade: <output id="fade-output">Any</output></h4></label>
				<input type="range" class="form-range" min="-1" max="6" value="-1" name="fade" id="fade" oninput="updateFade()" onmouseup="updateSearch()">
			</div>
			<div class="row">
				<div class="d-grid gap-2 col-6 mx-auto" id="btn-col">
					<button type="submit" class="btn btn-secondary btn-lg" id="find-more-btn">Find More ></button>
				</div>
			</div>
		</form>
		<div class="search-by-flight-results">
			<div id="sbfr-background">
				<section class="disc-row">
					<div class="row">
						{% for disc in disc_inventory %}
							<div class="card no-border hover2" id="search-result">
								<form action="/item" method="get">
									<input name="item" type="hidden" value="{{ disc['mold'] }}">
									<button type="submit">
										{% if disc['image'] is not none %}
											<img src="{{ disc['image'] }}" class="card-img-top" alt="...">
										{% else %}
											<img src="../static/images/discs/disc-placeholder.jpg" class="card-img-top" alt="...">
										{% endif %}
										<p class="card-title">{{ disc["brand"] }} {{ disc["mold"] }}</p>
									</button>
								</form>
								<div class="card-body">
									<div class="container text-center">
										<div class="row">
											<div class="col flight-numbers">
												<p id="disc-speed">{{ disc["speed"] }}</p>
											</div>
											<div class="col flight-numbers">
												<p id="disc-glide">{{ disc["glide"] }}</p>
											</div>
											<div class="col flight-numbers">
												<p id="disc-turn">{{ disc["turn"] }}</p>
											</div>
											<div class="col flight-numbers">
												<p id="disc-fade">{{ disc["fade"] }}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</section>
			</div>
		</div>
	</div>

	<div class="section white-background" id="featured-apparel">
		<h1>Featured Apparel</h1>
		<section class="disc-row">
			<div class="row">
				{% for item in new_apparel %}
					<div class="card no-border hover">
						<form action="/item" method="get">
							<input name="item" type="hidden" value="{{ item['mold'] }}">
							<button type="submit">
								{% if item['image'] is not none %}
									<img src="{{ item['image'] }}" class="card-img-top" alt="...">
								{% else %}
									<img src="../static/images/discs/disc-placeholder.jpg" class="card-img-top" alt="...">
								{% endif %}
								<p class="card-title">{{ item["brand"] }} {{ item["mold"] }}</p>
							</button>
						</form>
					</div>
				{% endfor %}
			</div>
		</section>
	</div>

	<div class="section color-background" id="team-profiles">
		<h1>Team Profiles</h1>
		<div class="team-profiles-scroller" id="team-profiles-scroller">
			<div class="card no-border profile-card" id="kevin-jones-card">
				<img src="../static/images/profiles/kevin-jones-profile.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h4 class="card-title center-text">Kevin Jones</h4>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
			<div class="card no-border profile-card" id="calvin-heimburg-card">
				<img src="../static/images/profiles/calvin-heimburg-profile.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h4 class="card-title center-text">Calvin Heimburg</h4>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
			<div class="card no-border profile-card" id="paul-mcbeth-card">
				<img src="../static/images/profiles/paul-mcbeth-profile.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h4 class="card-title center-text">Paul Mcbeth</h4>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
			<div class="card no-border profile-card" id="simon-lizotte-card">
				<img src="../static/images/profiles/simon-lizotte-profile.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h4 class="card-title center-text">Simon Lizotte</h4>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
			<div class="card no-border profile-card" id="gannon-buhr-card">
				<img src="../static/images/profiles/gannon-buhr-profile.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h4 class="card-title center-text">Gannon Buhr</h4>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
			<div class="card no-border profile-card" id="james-conrad-card">
				<img src="../static/images/profiles/james-conrad-profile.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h4 class="card-title center-text">James Conrad</h4>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
			<div class="card no-border profile-card" id="drew-gibson-card">
				<img src="../static/images/profiles/drew-gibson-profile.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h4 class="card-title center-text">Drew Gibson</h4>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
			<div class="card no-border profile-card" id="anthony-barela-card">
				<img src="../static/images/profiles/anthony-barela-profile.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h4 class="card-title center-text">Anthony Barela</h4>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
			<div class="card no-border profile-card" id="eagle-mcmahon-card">
				<img src="../static/images/profiles/eagle-mcmahon-profile.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h4 class="card-title center-text">Eagle Mcmahon</h4>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
			<div class="card no-border profile-card" id="ricky-wysocki-card">
				<img src="../static/images/profiles/ricky-wysocki-profile.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h4 class="card-title center-text">Ricky Wysocki</h4>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
			<div class="card no-border profile-card" id="kyle-klein-card">
				<img src="../static/images/profiles/kyle-klein-profile.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h4 class="card-title center-text">Kyle Klein</h4>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
			<div class="card no-border profile-card" id="garrett-gurthie-card">
				<img src="../static/images/profiles/garrett-gurthie-profile.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h4 class="card-title center-text">Garrett Gurthie</h4>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="section white-background" id="featured-accessories">
		<h1>Featured Accessories</h1>
		<section class="disc-row">
			<div class="row">
				{% for item in new_accessories %}
					<div class="card no-border hover">
						<form action="/item" method="get">
							<input name="item" type="hidden" value="{{ item['mold'] }}">
							<button type="submit">
								{% if item['image'] is not none %}
									<img src="{{ item['image'] }}" class="card-img-top" alt="...">
								{% else %}
									<img src="../static/images/discs/disc-placeholder.jpg" class="card-img-top" alt="...">
								{% endif %}
								<p class="card-title">{{ item["brand"] }} {{ item["mold"] }}</p>
							</button>
						</form>
					</div>
				{% endfor %}
			</div>
		</section>
	</div>
{% endblock %}