<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Native Disc Golf: {% block title %}{% endblock %}</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="../static/styles.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Native Disc Golf</a>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Discs
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Distance Drivers</a></li>
							<li><a class="dropdown-item" href="#">Fairway Drivers</a></li>
							<li><a class="dropdown-item" href="#">Mid-Ranges</a></li>
							<li><a class="dropdown-item" href="#">Approach</a></li>
							<li><a class="dropdown-item" href="#">Putters</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="true">
							Manufacturers
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Axiom</a></li>
							<li><a class="dropdown-item" href="#">DGA</a></li>
							<li><a class="dropdown-item" href="#">Discmania</a></li>
							<li><a class="dropdown-item" href="#">Discraft</a></li>
							<li><a class="dropdown-item" href="#">Dynamic Discs</a></li>
							<li><a class="dropdown-item" href="#">Gateway</a></li>
							<li><a class="dropdown-item" href="#">Infinite Discs</a></li>
							<li><a class="dropdown-item" href="#">Innova</a></li>
							<li><a class="dropdown-item" href="#">Kastaplast</a></li>
							<li><a class="dropdown-item" href="#">Latitude 64</a></li>
							<li><a class="dropdown-item" href="#">Legacy</a></li>
							<li><a class="dropdown-item" href="#">Lone Star</a></li>
							<li><a class="dropdown-item" href="#">Millennium</a></li>
							<li><a class="dropdown-item" href="#">Mint</a></li>
							<li><a class="dropdown-item" href="#">MVP</a></li>
							<li><a class="dropdown-item" href="#">Prodigy</a></li>
							<li><a class="dropdown-item" href="#">Streamline</a></li>
							<li><a class="dropdown-item" href="#">Thought Space Athletics</a></li>
							<li><a class="dropdown-item" href="#">Westside</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Accessories
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Accessories</a></li>
							<li><a class="dropdown-item" href="#">Apparel</a></li>
							<li><a class="dropdown-item" href="#">Bags</a></li>
							<li><a class="dropdown-item" href="#">Carts</a></li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Info</a>
					</li>
				</ul>
			</div>
        <form action="/search" class="d-flex" method="get" role="search">
			<input autocomplete="off" class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
			<button class="btn" type="submit">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
					<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
				</svg>
			</button>
        </form>
		<button class="btn">
			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
				<path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
			</svg>
		</button>
		<button class="btn">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
				<path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
			</svg>
		</button>
        </div>
      </nav>
    </header>

		<main>
			{% block main %}{% endblock %}
		</main>

		<footer>
			<div class="footer-info">
				<p>&copy Copyright - Josh Childers</p>
				<p>245 Congaree Rd</p>
				<p>(706) 751-1937</p>
			</div>

			<div class="footer-links">
				<ul class="nav justify-content-center">
					<li class="nav-item">
						<a class="nav-link" href="#">Terms & Conditions</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Privacy Policy</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Shipping Policy</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Return Policy</a>
					</li>
				</ul>
			</div>
		</footer>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
		<script src="../static/script.js"></script>
  </body>

</html>