{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
    <div class="section color-background" id="search-heading">
        <h1>Search: "<i>{{ search }}</i>"</h1>
        {% if result_number == 1 %}
            <h3>{{ result_number }} Result</h3>
        {% else %}
            <h3>{{ result_number }} Results</h3>
        {% endif %}
    </div>

    <div class="section white-background" id="search-results">
        <section class="disc-row">
			<div class="row">
				{% for disc in results %}
					<div class="card no-border">
						<form action="/item" method="get">
							<input name="item" type="hidden" value="{{ disc['mold'] }}">
							<button type="submit"><img src="{{ disc['image'] | default('../static/images/discs/disc-placeholder.jpg') }}" class="card-img-top" alt="..."></button>
						</form>
						<div class="card-body">
							<h5 class="card-title">{{ disc["plastic"] }} {{ disc["mold"] }}</h5>
							<p class="card-text">Run #{{ disc["run"] }}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</section>
    </div>
{% endblock %}