{% extends "layout.html" %}

{% block title %}
    Search: {{ type }}
{% endblock %}

{% block main %}
    <div class="section color-background" id="search-heading">
		{% if type == "Approach" %}
        	<h1>{{ type }} Discs</h1>
		{% else %}
			<h1>{{type}}s</h1>
		{% endif %}
    </div>

    <div class="section white-background" id="search-results">
		{% if results|length == 0 %}
			<img src="../static/images/out-of-stock.jpg" id="out-of-stock-img">
		{% endif %}
        <section class="disc-row">
			<div class="row">
				{% for disc in results %}
					<div class="card no-border hover2">
						<form action="/item" method="get">
							<input name="item" type="hidden" value="{{ disc['mold'] }}">
							<button type="submit">
								{% if disc['image'] is not none %}
									<img src="{{ disc['image'] }}" class="card-img-top" alt="...">
								{% else %}
									<img src="../static/images/discs/disc-placeholder.jpg" class="card-img-top" alt="...">
								{% endif %}
								<p class="card-title">{{ disc["brand"] }} {{ disc["mold"] }}</p>
							</button>
						</form>
						<div class="card-body">
							<div class="container text-center">
								<div class="row">
									<div class="col flight-numbers">
										<p id="disc-speed">{{ disc["speed"] }}</p>
									</div>
									<div class="col flight-numbers">
										<p id="disc-glide">{{ disc["glide"] }}</p>
									</div>
									<div class="col flight-numbers">
										<p id="disc-turn">{{ disc["turn"] }}</p>
									</div>
									<div class="col flight-numbers">
										<p id="disc-fade">{{ disc["fade"] }}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</section>
    </div>
{% endblock %}