{% extends "layout.html" %}

{% block title %}
    Search: {{ type }}
{% endblock %}

{% block main %}
    <div class="section color-background" id="search-heading">
        <h1>{{ type }}s</h1>
    </div>

    <div class="section white-background" id="search-results">
		{% if results|length == 0 %}
			<img src="../static/images/out-of-stock.jpg" id="out-of-stock-img">
		{% endif %}
        <section class="disc-row">
			<div class="row">
				{% for disc in results %}
					<div class="card no-border">
						<form action="/item" method="get">
							<input name="item" type="hidden" value="{{ disc['mold'] }}">
							<button type="submit">
								{% if disc['image'] is not none %}
									<img src="{{ disc['image'] }}" class="card-img-top" alt="...">
								{% else %}
									<img src="../static/images/discs/disc-placeholder.jpg" class="card-img-top" alt="...">
								{% endif %}
							</button>
						</form>
						<div class="card-body">
							<h6 class="card-title">{{ disc["brand"] }} {{ disc["mold"] }}</h6>
						</div>
					</div>
				{% endfor %}
			</div>
		</section>
    </div>
{% endblock %}